Prophet Multi-Variable Forecasting. Datetime, y = Protests (frequency), and additional variable of SCOTUS cases.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as plt
from prophet import Prophet


%matplotlib inline


protest_df = pd.read_excel("/protest_data_ccc_2017_2023.xlsx")

protest_df.head()

protest_df = protest_df[["date", "locality", "state", "online", "type", "claims", "issue_tags_summary", "issue_tags", "valence", "issues", "size_mean", "size_cat"]]

In [ ]:
## creating df of focus here..

protest_df_refined = protest_df[["date", "locality", "state", "online", "type", "claims", "issue_tags_summary", "issue_tags", "valence", "issues", "size_mean", "size_cat"]]


protest_df_refined["date"] = pd.to_datetime(protest_df_refined["date"])
protest_df_refined.head()

In [ ]:
## SCOTUS df here.

SCOTUS_df = pd.read_excel("/supremecourt.xlsx")

In [ ]:
SCOTUS_df_refined = SCOTUS_df[["caseId", "docketId", "caseIssuesId", "voteId", "dateDecision", "caseName", "issue", "issueArea"]]



SCOTUS_df_refined["dateDecision"] = pd.to_datetime(SCOTUS_df_refined["dateDecision"])
SCOTUS_df_refined.head()

In [ ]:
## Prophet

# Set the start and end dates
start_date = '2017-01-01'
end_date = '2023-12-31'

# Create the date range with a frequency of two weeks
date_range = pd.date_range(start=start_date, end=end_date, freq='2W')

# Create the DataFrame
df_dates = pd.DataFrame(date_range, columns=['Date'])

df_dates['protests'] = np.nan
df_dates['scotus'] = np.nan

# Print the DataFrame
print(df_dates)

In [ ]:
## initiating the 2 week jumps here.

for df_date in df_dates['Date']:
  next_df_date = df_dates["Date"][0]+pd.Timedelta(days=14)

In [53]:
SCOTUS_df_refined["dateDecision"]

protest_df_refined["date"]

0        2017-01-01
1        2017-01-01
2        2017-01-01
3        2017-01-01
4        2017-01-01
            ...
211999   2024-12-31
212000   2024-12-31
212001   2024-12-31
212002   2024-12-31
212003   2024-12-31
Name: date, Length: 212004, dtype: datetime64[ns]